<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
<li class="nav-item active">
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>GDOS | Chaclacayo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <script src="https://kit.fontawesome.com/82a228b425.js" crossorigin="anonymous"></script>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/stylosdos.css}" rel="stylesheet">
         <link th:href="@{/css/stylos.css}" rel="stylesheet">
         
    </head>
    <body>
        <header id="header" class="d-flex align-items-center fixed-top bg-success">
    <div class="container d-flex align-items-center">

      

      <nav id="navbar" class="navbar order-last order-lg-0 ">
          <a class="navbar-brand">
        <img src="https://www.adobe.com/es/express/create/media_127a4cd0c28c2753638768caf8967503d38d01e4c.jpeg?width=400&format=jpeg&optimize=medium" width="40" height="40" class="d-inline-block align-top" alt="">
    
        </a>
        <ul>
          <li><a class="nav-link scrollto active" th:href="@{/principal}" >Inicio</a></li>
          <li><a class="nav-link scrollto" th:href="@{/principal#pasos}">Pasos</a></li>
          <li><a class="nav-link scrollto" th:href="@{/principal#requisitos}">Requisitos</a></li>
          <li class="dropdown"><a href="#"><span>Solicitudes</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a th:href="@{/visual/login/proceso}">Solicitud en Proceso</a></li>
              <li><a th:href="@{/historial}">Historial </a></li>
              
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Resoluciones</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a th:href="@{/busqueda}">Registradas</a></li>
              
              
            </ul>
          </li>
          <li><a th:href="@{/visual/login}">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      
    </div>
  </header>
        <div class="container-fluid" layout:fragment="page-content">

                </div>
        
        
        
        
        <!-- Scripts -->
        <script th:src="@{/js/bootstrap.min.js}"></script>
         <th:block layout:fragment="page-scripts">

    </th:block>
    </body>
</html>
