<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
    <head >
        <title>LOGIN | GDOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/stilospropios.css}" rel="stylesheet">
    </head>
    <body>
        <div  class="text-center form-signin"   >
            <form class="form-signin" th:action="@{/principal}">
                <img class="mb-4" src="https://media.discordapp.net/attachments/984970824282955818/994423074449539172/unknown.png" alt="" width="122" height="82">
                <h1 class="h3 mb-3 font-weight-normal">INGRESO</h1>
                <div class="mb-0" style="text-align: left; ">
                    <label>
                        D.N.I*
                    </label>
                </div>

                <input type="text" id="inputEmail" class="form-control" placeholder="Ingrese su numero de DNI" required autofocus>
                <div class="mb-0" style="text-align: left; ">
                    <label>
                        Contraseña*
                    </label>
                </div>

                <input type="password" id="inputPassword" class="form-control" placeholder="Ingrese su contraseña" required>
                <div class="mb-3" style="text-align: left; ">
                    <br>
                    <a th:href="@{/registro}" style=" color: green;" >¿No tienes cuenta?</a>
                </div>
                <button class="btn btn-lg btn-success btn-block" type="submit">Iniciar Sesion</button>

            </form>
        </div>



    </body>
</html>
